/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --bg__color: #000;
  --accent__color: #00cc14;
  --wght__main-text: 465;
  --wght__card-header: 785;
  --bg__image: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(#007f0c, #004306);
  --fill__heart-color: red;
  --contour__heart-color: #000;
  --button__text-color: #00cc14;
}

:root.theme-light {
  --bg__color: #fff;
  --accent__color: #000;
  --wght__main-text: 400;
  --wght__card-header: 700;
  --bg__image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --fill__heart-color: red;
  --contour__heart-color: #000;
  --button__text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg__color: #000;
    --accent__color: #00cc14;
    --wght__main-text: 465;
    --wght__card-header: 785;
    --bg__image: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c, #004306);
    --fill__heart-color: red;
    --contour__heart-color: #000;
    --button__text-color: #00cc14;
  }
}
